html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
}
#canvas {
  background-color: #222222;
  display: block; /* Remove scrollbar */
}
#toolbar {
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: #333;
  color: white;
  padding: 10px;
  font-family: Helvetica, Arial, sans-serif;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  gap: 5px;
  border-radius: 4px;
}
#toolbar button {
  background-color: #333;
  color: white;
  width: 32px;
  height: 32px;
  border-radius: 4px;
  cursor: pointer;
  border: none;
  background-size: cover;
}
#toolbar button.active {
  background-color: #555;
}
#context-menu {
  position: absolute;
  background-color: #333;
  color: white;
  border: 1px solid #aaa;
  z-index: 1000;
  font-family: Helvetica, Arial, sans-serif;
  display: none; /* Hide the menu initially */
  margin: 0;
  padding: 2px; /* Add a small buffer between the buttons and the edge of the menu */
  width: 100px; /* Make the menu half the width */
  border-radius: 6px; /* Rounded corners for the menu */
}
#context-menu .menu-item {
  list-style: none;
  text-align: left;
  cursor: pointer;
  width: calc(100% - 16px);
  padding: 8px;
  position: relative;
}
#context-menu .menu-item:hover {
  background-color: #555;
  border-radius: 4px; /* Rounded corners for highlight */
}
#context-menu .divider {
  height: 1px;
  background-color: #aaa;
  margin: 4px auto;
  width: 80%; /* Thin divider that goes ~80% across the menu */
}
